<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for (i = 0; i < items.length; i++) { %>
      <div class="item">
        <form class="" action="/done" method="post">
          <input type="checkbox" name="checkbox" value="<%= items[i]._id %>" onchange="this.form.submit()">
        </form>
        <p><%= items[i].name %></p>
        <form class="delete" action="/delete" method="post">
          <button type="submit" class="delete" name="button" value="<%= items[i]._id %>"><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
  <% } %>

  <form class="item" action="<%= postAction %>" method="post">
    <input type="text" name="newTodo" placeholder="New Item" autocomplete="off">
    <button type="submit" class="add" name="button">+</button>
  </form>
</div>

<%- include("footer") -%>
