<%- include("header") -%>

<div id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="container">
  <% for (i = 0; i < items.length; i++) { %>
      <div class="row">
        <div class="col-lg-3 col-md-1 col-sm-0"></div>
        <div class="col-lg-6 col-md-10 col-sm-12 item">
          <form class="" action="/done" method="post">
            <input type="checkbox" name="checkbox" value="<%= items[i]._id %>" onchange="this.form.submit()">
          </form>
          <p><%= items[i].name %></p>
          <form class="delete" action="/delete" method="post">
            <button type="submit" class="delete" name="button" value="<%= items[i]._id %>"><i class="far fa-trash-alt"></i></button>
          </form>
        </div>
        <div class="col-lg-3 col-md-1 col-sm-0"></div>
      </div>
  <% } %>
  <div class="row">
    <div class="col-lg-3 col-md-1 col-sm-0"></div>
    <form class="col-lg-6 col-md-10 col-sm-12 item" action="<%= postAction %>" method="post">
      <input type="text" name="newTodo" placeholder="New Item" autocomplete="off">
      <button type="submit" class="add" name="button">+</button>
    </form>
    <div class="col-lg-3 col-md-1 col-sm-0"></div>
  </div>
</div>

<%- include("footer") -%>
